$background_base: blue;
$background_important: darkblue;
$background_warning: turquoise;
$principal_font_family: Verdana, Geneva, Tahoma, sans-serif;
$secondary_font_family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
  Arial, sans-serif;
$box_shadow: -12px 12px 12px 2px gray;
$border_radius: 6px;
